/* src/index.css (Versión Alegre) */

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* !! NUEVO: Fondo gris claro y limpio !! */
  background-color: #f4f7fa; /* Gris muy claro, casi blanco */
  color: #333; /* Texto oscuro principal */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 360px;
}

h1,
h2 {
  color: #2c3e50; /* Un azul/gris oscuro para los títulos */
}