/* src/index.css (Versión Híbrida) */

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* !! NUEVO: Fondo oscuro principal !! */
  background-color: #1f2937; /* Un gris-azul muy oscuro */
  color: #e5e7eb; /* Texto claro por defecto */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 360px;
}

h1,
h2 {
  /* Los títulos fuera de las tarjetas serán claros */
  color: #ffffff;
}